<div class="card mt-3">
    <h5 class="card-header bg-secondary text-light">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
    </h5>
    <div class="card-body bg-light">
        <p class="card-text">{{post_body}}</p>
    </div>
</div>