<form class="login-form">
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="login-email">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="login-password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form class="signup-form">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="signup-username">
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signup-email">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signup-password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/javascript/login.js"></script>